<div id="content">
  <h1>Crear Proyecto</h1>

  <mat-form-field id="mat-form-field" appearance="fill" class="name">
    <mat-label>Nombre del proyecto</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    id="mat-form-field"
    class="description"
  >
    <mat-label>Descripción del proyecto</mat-label>
    <textarea matInput [(ngModel)]="descriptionProject"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" id="mat-form-field" class="category">
    <mat-label>Categoría</mat-label>
    <mat-select [(ngModel)]="category">
      <mat-option *ngFor="let category of categories" [value]="category.viewValue">
        {{ category.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field id="mat-form-field" appearance="fill" class="contractor">
    <mat-label>Sucursal</mat-label>
    <input matInput [(ngModel)]="branchOffice" />
  </mat-form-field>

  <mat-form-field id="mat-form-field" appearance="fill" class="contractor">
    <mat-label>Nombre del equipo</mat-label>
    <input matInput [(ngModel)]="equipmentName" />
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    id="mat-form-field"
    class="description"
  >
    <mat-label>Descripción del equipo</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    id="mat-form-field"
    class="file"
    readonly
    disabled
    (click)="fileInput.click()"
  >
    <button mat-icon-button matPrefix>
      <mat-icon>attach_file</mat-icon>
    </button>

    <input type="text" readonly matInput value="{{ fileLength || 'Subir planos'}}"/>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      id="file"
      multiple
      accept="application/pdf"
    />
  </mat-form-field>

  <div id="buttons">
    <button mat-raised-button id="button" (click)="close()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>

    <button mat-raised-button id="button" class="button-login" (click)="addProject()">
      <mat-icon>add</mat-icon>
      Crear proyecto
    </button>
  </div>
</div>
