body {
  /* background-color: rgb(250, 250, 250); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(241%2c 241%2c 241%2c 1)'%3e%3c/rect%3e%3cpath d='M1238.7117517931638 420.0924014492542L1107.1640354996357 364.10569242853006 1120.2274675989763 488.39594644464665z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M6.347%2c16.969C24.037%2c17.525%2c39.74%2c6.296%2c48.477%2c-9.096C57.098%2c-24.285%2c57.723%2c-42.916%2c48.888%2c-57.981C40.152%2c-72.878%2c23.595%2c-81.798%2c6.347%2c-80.935C-9.613%2c-80.136%2c-21.76%2c-68.094%2c-29.407%2c-54.062C-36.674%2c-40.728%2c-38.264%2c-25.171%2c-31.436%2c-11.606C-23.827%2c3.511%2c-10.569%2c16.438%2c6.347%2c16.969' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M382.519%2c35.027C395.324%2c35.065%2c407.242%2c28.356%2c413.655%2c17.273C420.079%2c6.172%2c419.165%2c-7.088%2c413.566%2c-18.628C407.018%2c-32.125%2c397.479%2c-45.781%2c382.519%2c-46.902C365.997%2c-48.141%2c349.396%2c-38.905%2c342.207%2c-23.978C335.673%2c-10.411%2c343.204%2c4.657%2c351.699%2c17.091C358.886%2c27.61%2c369.779%2c34.989%2c382.519%2c35.027' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M171.7329999458311 370.8344152880833L298.34753911290613 473.5647951826011 323.09760051797747 333.2002219015975z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M559.169%2c545.438C582.225%2c546.154%2c605.193%2c535.846%2c616.499%2c515.74C627.615%2c495.97%2c622.698%2c472.151%2c611.452%2c452.455C600.093%2c432.561%2c582.053%2c416.381%2c559.169%2c415.333C534.506%2c414.204%2c509.449%2c425.444%2c497.878%2c447.254C486.854%2c468.034%2c495.239%2c492.405%2c507.695%2c512.359C519.271%2c530.902%2c537.32%2c544.759%2c559.169%2c545.438' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M697.597%2c539.449C731.487%2c538.824%2c765.328%2c529.161%2c784.39%2c501.133C806.083%2c469.236%2c814.572%2c427.995%2c796.614%2c393.855C777.551%2c357.616%2c738.52%2c334.722%2c697.597%2c336.134C658.754%2c337.475%2c628.473%2c366.245%2c609.75%2c400.304C591.809%2c432.94%2c585.191%2c472.951%2c605.072%2c504.442C623.94%2c534.327%2c662.26%2c540.101%2c697.597%2c539.449' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.title {
  margin-top: 25px;
}

.text {
  width: 60%;
  margin: 0 auto;
  line-height: 1.7em;
}

@media only screen and (max-width: 600px) {
  .text {
    width: 80%;
  }

  .title {
    width: 80%;
  }
}
