<body>
  <app-navbar-login></app-navbar-login>
  <div id="content">
    <h1 class="title">Bienvenido a Siesa Web App</h1>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      officiis quibusdam accusantium beatae maxime maiores voluptatibus
      necessitatibus animi aspernatur voluptates? Asperiores quod reiciendis
      accusamus dignissimos voluptatibus similique temporibus quas porro. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Rerum inventore maxime
      veritatis exercitationem laudantium nostrum nam voluptas odit sunt.
      Explicabo voluptate sint sed fugiat illo, quos voluptatem? Nulla, eligendi
      dolorem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut ex
      vero, veritatis recusandae inventore in nam nulla at quos commodi saepe
      modi doloribus, porro voluptates impedit eligendi expedita animi ducimus.
    </p>
  </div>
</body>