<div id="content">
  <h1>Crear Categoría</h1>
  <form [formGroup]="form" (ngSubmit)="addCategory()" id="content">
    <mat-form-field id="mat-form-field" appearance="fill" class="name">
      <mat-label>Nombre de la categoría</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <div id="buttons">
      <button mat-raised-button id="button" (click)="close()" type="button">
        <mat-icon>cancel</mat-icon>
        Cancelar
      </button>

      <button
        mat-raised-button
        id="button"
        class="button-login"
        [disabled]="form.invalid"
      >
        <mat-icon>add</mat-icon>
        Crear Categoría
      </button>
    </div>
  </form>
</div>
